@using Microsoft.AspNetCore.Identity
@using ChatApp.Models

@inject SignInManager<User> SignInManager

@model IndexViewModel

@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-4">
            <h3>Chat Rooms</h3>
            <ul id="chatRoomList">
                @foreach (var chatRoom in Model.ChatRooms)
                {
                    <li onclick="handleItemClick(@chatRoom.Id ,'@chatRoom.Name')">
                        @chatRoom.Name
                    </li>
                }
            </ul>
            <h3>Create New Chat Room</h3>
            <button class="btn btn-primary" onclick="createRoom('@Model.CurrentUser.Id')">Create Room</button>
        </div>
        <div class="col-md-8">
            <h2 id="chosen-chat-room">Chat Room: <span id="chat-room-name"></span></h2>
            <div id="chat-messages"></div>
            <form id="send-message-form" method="post">
                <input type="hidden" id="user-id" name="SenderId" value="@Model.CurrentUser.Id"/>
                <input type="hidden" id="user-name" name="SenderName" value="@Model.CurrentUser.UserName"/>
                <div class="form-group">
                    <label for="message-input">Message</label>
                    <input type="text" id="message-input" name="Text" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
            <button class="btn btn-secondary mt-3" 
                    onclick="inviteUser()" id="sendInvite">Invite User</button>
        </div>
        
        <div class="col-md-8">
            <h3>Messages</h3>
            <div id="message-container" class="card">
                <div class="card-body">
                    <ul id="message-list" class="list-group">
                        <!-- MSG HERE -->
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="js/Chat.js"></script>